<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{fragments/main_layout}">

<head></head>
<body>
 
<div layout:fragment="content" class="container mySpace">
	<div class="jumbotron">
	
	
	
	
	
	
<div class="jumbotron">
  <h1 class="display-3 text-success">Thanks For Visiting!</h1>
  <p class="lead text-info">This Application is made by Bilas Talukdar</p>
  <hr class="my-4 ">
  <p class="text-warning">Name: Bilas Talukdar</br>
  	Email: sagarbilas11@gmail.com
  </p>

</div>
	
	
	
	
	
	
	
	
	
<!-- 
<p class="mySpace2">You Are Logged In!!</p>
	</div>
</div>
 -->	


</body>
</html>