<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">

<head></head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="jumbotron">


			<div class="jumbotron">
				<h1 class="display-3 text-success">Welcome</br>to</br>Task Assignment Application</h1>
				
				<hr class="my-4 ">
<p class="lead text-info">You can Assign Tasks to employees using this Application. And Employees can see tasks assigned to them too </p>

			</div>



		</div>
	</div>

</body>
</html>